body {
    background-color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

main > h1 {
    color: #62B3B8;
    font-family: 'Lemon', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 150%;
    padding: 19px;
}

#reset-container {
    width: 500px;
    border-radius: 25px;
    border: 1px solid #62B3B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#security-icon {
    width: 90px;
    height: 90px;
    border: 2.5px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
}

#security-icon > svg {
    width: 45px;
    height: 45px;
}

#reset-container > h2 {
    color: black;
    font-family: Lexend;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}

#reset-container > h3 {
    color: #29292980;
    width: 400px;
    padding: 10px;
}

#id_email {
    width: 400px;
    height: 55px;
    border: 1px solid rgba(128, 128, 128, 0.50);
    border-radius: 15px;
    background-color: #FFF;
    margin: 13px 0;
}

#id_email::placeholder {
    color: #80808080;
    padding-left: 10px;
    font-size: 1rem;
}

button {
    width: 400px;
    height: 60px;
    border-radius: 40px;
    border: none;
    background-color: #62B3B8;
    cursor: pointer;
    margin: 15px 0;
}

button > span {
    color: #fff;
    font-size: 1.3rem;
}

#signup-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.left-line, .right-line {
    width: 150px;
    height: 1.5px;
    background-color: #80808080;
}

.line > p {
    color: #80808080;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lemon', sans-serif;
}

.signup {
    padding: 10px 0 45px 0;
}

.signup:hover {
    text-decoration: underline;
}