{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/account/password_reset_done.css' %}?v={% now 'U' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <h1>TripTailor</h1>
    <div>
        메일을 전송하였습니다. 메일을 받지 못했다면 스팸 폴더를 확인해주세요.
        몇 분 후에도 메일을 받지 못하시면 저희에게 연락주세요.
    </div>
</main>
{% endblock %}