{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/account/password_reset.css' %}?v={% now 'U' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <h1>TripTailor</h1>
    <div id="reset-container">
        <div id="security-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
            </svg>
        </div>
        <h2>비밀번호를 잊으셨나요?</h2>
        <h3>아래에 이메일 주소를 입력하시면, 비밀번호를 초기화할 수 있는 링크를 보내드립니다.</h3>
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {% if form.errors %}
                <p style="color: red;">입력한 정보를 다시 확인해주세요</p>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                        <li style="color:red">{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <div>
                {{ form.email}}
            </div>
            <div>
                <button type="submit"><span>초기화 링크 보내기</span></button>
            </div>
        </form> 
        <div id="signup-container">
            <div class="line">
                <i class="left-line"></i>
                <p>또는</p>
                <i class="right-line"></i>
            </div>
            <div class="signup"><a href="{% url 'account_signup' %}">새 계정 만들기</a></div>
        </div>       
    </div>

</main>
{% endblock %}