{% extends "base.html" %}

{% block content %}
  <h2>회원가입</h2>
  <form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% if form.errors %}
      <p style="color: red;">입력한 정보를 다시 확인해주세요 😥</p>
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li style="color:red">{{ field.label }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
    <div>
      <label for="id_username">사용자 이름</label>
      {{ form.username }}
    </div>
    <div>
      <label for="id_email">이메일</label>
      {{ form.email }}
    </div>
    <div>
      <label for="id_password1">비밀번호</label>
      {{ form.password1 }}
    </div>
    <div>
      <label for="id_password2">비밀번호 확인</label>
      {{ form.password2 }}
    </div>
    <button type="submit">회원가입</button>
  </form>

  <p><a href="{% url 'account_login' %}">이미 계정이 있으신가요? 로그인</a></p>
  <p><a href="/login/">← 소셜 로그인 페이지로 돌아가기</a></p>
{% endblock %}
