{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/account/signup.css' %}?v={% now 'U' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  <main>
    <h1>TripTailor</h1>
    <div id="form-container">
      <h2>회원가입</h2>
      <form method="post" action="{% url 'account_signup' %}">

        <div>
          {{ form.username }}
        </div>
        <div>
          {{ form.email }}
        </div>
        <div>
          {{ form.password1 }}
        </div>
        <div>
          {{ form.password2 }}
        </div>
        {% csrf_token %}
        {% if form.errors %}
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li style="color:red">*{{ field.label }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% endif %}        
        <button type="submit"><span>가입</span></button>
      </form>   
      <div id="login-container">
        <div class="line">
          <i class="left-line"></i>
          <p>이미 계정이 있으신가요?</p>
          <i class="right-line"></i>
        </div>
        <div class="login"><a href="{% url 'account_login' %}">로그인</a></d>         
      </div> 
 
    </div>
  </main>
{% endblock %}
