main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-container {
    width: 50vw;
    height: 20vh;
    border-radius: 25px;
    border: 1px solid #62B3B8;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}