{% extends 'base.html' %}
{% block title %}리뷰 작성/수정{% endblock %}

{% block content %}
<h1>{{ view.object|default_if_none:"리뷰 작성" }}</h1>

<form method="post" novalidate>
  {% csrf_token %}
  <fieldset>
    <legend>리뷰</legend>
    {{ form.non_field_errors }}
    <div>
      {{ form.title.label_tag }} {{ form.title }}
      {{ form.title.errors }}
    </div>
    <div>
      {{ form.route.label_tag }} {{ form.route }}
      {{ form.route.errors }}
    </div>
    <div>
      {{ form.rating.label_tag }} {{ form.rating }}
      <small>0.0 ~ 5.0 (소수 첫째 자리)</small>
      {{ form.rating.errors }}
    </div>
    <div>
      {{ form.summary.label_tag }} {{ form.summary }}
      {{ form.summary.errors }}
    </div>
    <div>
      {{ form.content.label_tag }} {{ form.content }}
      {{ form.content.errors }}
    </div>
  </fieldset>

  <fieldset>
    <legend>사진 (최대 5개)</legend>
    {{ photo_formset.non_field_errors }}
    <div id="photos">
      {% for f in photo_formset %}
        <div class="photo-form" data-form-index="{{ forloop.counter0 }}">
          {{ f.id }}
          <div>
            {{ f.url.label_tag }} {{ f.url }}
            {% if f.instance.pk %}
              <label>
                {{ f.DELETE }} 삭제
              </label>
            {% endif %}
            {{ f.url.errors }}
          </div>
          <div id="preview-{{ forloop.counter0 }}" style="display: none;">
            <img src="" alt="사진 미리보기">
          </div>
        </div>
      {% endfor %}
    </div>
    {{ photo_formset.management_form }}
  </fieldset>

  <p>
    <button type="submit">저장</button>
    <a href="{% if view.object %}{% url 'reviews:detail' view.object.pk %}{% else %}{% url 'reviews:list' %}{% endif %}">취소</a>
  </p>
</form>


{% endblock %}
