{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/users/mypage.css' %}?v={% now 'U' %}">
    {% if tab == "likes" %}
        <link rel="stylesheet" href="{% static 'css/users/likes.css' %}?v={% now 'U' %}">
    {% elif tab == "routes" %}
        <link rel="stylesheet" href="{% static 'css/users/routes.css' %}?v={% now 'U' %}">
    {% elif tab == "reviews" %}
        <link rel="stylesheet" href="{% static 'css/users/reviews.css' %}?v={% now 'U' %}">
    {% endif %}
{% endblock %}

{% block content %}
<main>
    <div id="profile-container">
        <div id="profile-img"></div>
        <div id="profile-content"></div>
        <div id="profile-total">
            <div id="total-likes">{{ total_likes }}</div>
            <div id="total-routes">{{ routes_total }}</div>
            <div id="total-reviews">{{ total_reviews }}</div>
        </div>
    </div>
    <div class="filter-bar">
        <a href="?tab=likes" class="tab {% if tab == 'likes' %}active{% endif %}">찜한 목록</a>
        <a href="?tab=routes" class="tab {% if tab == 'routes' %}active{% endif %}">내 루트</a>
        <a href="?tab=reviews" class="tab {% if tab == 'reviews' %}active{% endif %}">작성한 댓글</a>
    </div>
    <div id="content">
        {% if tab == 'likes' %}
            {% include 'users/likes.html' %}
        {% elif tab == 'routes' %}
            {% include 'users/routes.html' %}
        {% elif tab == 'reviews' %}
            {% include 'users/reviews.html' %}
        {% else %}
            <p>잘못된 탭입니다.</p>
        {% endif %}
    </div>

</main>
<script src="{% static 'js/mypage.js' %}"></script>
{% endblock %}