{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/users/mypage.css' %}?v={% now 'U' %}">
    {% if tab == "likes" %}
        <link rel="stylesheet" href="{% static 'css/users/likes.css' %}?v={% now 'U' %}">
    {% elif tab == "routes" %}
        <link rel="stylesheet" href="{% static 'css/users/routes.css' %}?v={% now 'U' %}">
    {% elif tab == "reviews" %}
        <link rel="stylesheet" href="{% static 'css/users/reviews.css' %}?v={% now 'U' %}">
    {% endif %}
{% endblock %}

{% block content %}
<main>
    <div id="profile-container">
        <div id="profile-left">
            <img src="{% static 'images/profile-default.png' %}" alt="프로필 이미지" id="profile-avatar">
            <div id="profile-content">
                <p class="content_name">USER</p>
                <p class="username">{{user.username}}</p>
                <p class="content_name">E-mail</p>
                <p class="email">{{user.email}}</p>
            </div>            
        </div>
        <div id="profile-total">
            <div id="total-likes" class="total-container">
                <span class="total-name">찜한 여행지</span>
                <span class="number">{{ total_likes }}</span>
            </div>
            <div id="total-routes" class="total-container">
                <span class="total-name">여행 루트</span>  
                <span class="number">{{ routes_total }}</span>
            </div>
            <div id="total-reviews" class="total-container">
                <span class="total-name">작성한 댓글수</span>
                <span class="number">{{ total_reviews }}</span>
            </div>
        </div>
    </div>
    <div class="filter-bar">
        <a href="?tab=likes" class="tab {% if tab == 'likes' %}active{% endif %}" id="likes-bar">찜한 목록</a>
        <a href="?tab=routes" class="tab {% if tab == 'routes' %}active{% endif %}" id="routes-bar">내 루트</a>
        <a href="?tab=reviews" class="tab {% if tab == 'reviews' %}active{% endif %}" id="reviews-bar">작성한 댓글</a>
    </div>
    <div id="content">
        {% if tab == 'likes' %}
            {% include 'users/likes.html' %}
        {% elif tab == 'routes' %}
            {% include 'users/routes.html' %}
        {% elif tab == 'reviews' %}
            {% include 'users/reviews.html' %}
        {% else %}
            <p>잘못된 탭입니다.</p>
        {% endif %}
    </div>

</main>

<script src="{% static 'js/map.js' %}?v={% now 'U' %}"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}&v=weekly&loading=async&callback=initMap"
  async
  defer
></script>
<script src="{% static 'js/mypage.js' %}"></script>
<script src="{% static 'js/like.js' %}"></script>
{% endblock %}