{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<form method="get" action="">
    <input type="text" name="prompt" placeholder="여행지 조건을 입력해보세요!" value="{{ prompt }}">
    <button type="submit">추천받기</button>
</form>

{% if recommended_places %}
  <h2>추천 여행지</h2>
  <ul>
    {% for place in recommended_places %}
      <li>
        <strong>{{ place.name }}</strong> - {{ place.region }}<br>
        {{ place.summary|default:"설명 없음" }}
        <ul>
          {% for tag in place.tags.all %}
            <li>#{{ tag.name }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<h2>전체 여행지</h2>
<!-- <ul>
  {% for place in places %}
    <li>{{ place.name }} ({{ place.region }})</li>
  {% endfor %}
</ul> -->
{% endblock %}